.our-wordpress-plugins {
	width: 100%;
	max-width: 250px;
	padding: 0 20px;
	box-sizing: border-box;
	background: #ffffff;
}
.our-wordpress-plugins h3 {
	font-size: 17px;
	line-height: 28px;
	color: #23282D;
	font-weight: 500;
	margin: 0;
	padding: 15px 4px 0px;
	text-align: center;
}
.our-wordpress-plugins ul {
	list-style: none;
	margin: 0;
	padding: 20px 0 0;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.our-wordpress-plugins ul li {
	width: 100%;
	margin-bottom: 20px;
}
.our-wordpress-plugins ul li .plugin-box {
	width: 100%;
	background: #F7F7F7;
	border: 1px solid #D9D9D9;
}
.our-wordpress-plugins ul li .plugin-box .plugin-img img {
	width: 100%;
	display: block;
}
.plugin-desc {
	padding: 20px 15px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #23282D;
	text-align: center;
	border-top: 1px solid #D9D9D9;
}
.our-wordpress-plugins h4 {
	font-size: 16px;
	line-height: 19px;
	color: #23282D;
	font-weight: 600;
	margin: 0;
	padding-bottom: 10px;
}
.plugin-desc p {
	margin: 0 0 15px 0;
}
.cta-btn a {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	font-weight: 700;
	background: #2B597A;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	padding: 5px 15px;
}

.our-wordpress-plugins.full {
	width: 100%;
	max-width: 880px;
}
.our-wordpress-plugins.full ul {
	margin-left: -15px;
	margin-right: -15px;
}
.our-wordpress-plugins.full ul li {
	width: 25%;
	padding: 0 10px;
	box-sizing: border-box;
}
.our-wordpress-plugins.full ul li .plugin-box {
	height: 100%;
}
.our-wordpress-plugins.side-bar {
	margin-bottom: 30px;
}

.c4wp-help-section {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding-bottom: 20px;
	max-width: 1170px;
}
.nav-tabs{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding-bottom: 20px;
	max-width: 1170px;
	
}
.our-wordpress-plugins.side-bar {
	width: 30%;
	margin-bottom: 30px;
	padding: 0 20px;
	box-sizing: border-box;
	background: #ffffff;
}
.c4wp-help-main {
    width: 60%;
    padding: 10px 20px 0 10px !important;
}
.c4wp-logo{
	text-align: center;
}
.c4wp-logo img {
	width: 100%;
	max-width: 350px;
}
.c4wp-about p {
	word-break: break-all;
}
.title h2 {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 0;
	line-height: 29px;
}

/**
 * Media query max-width: 991px
 */
@media ( max-width: 991px ) {
	.our-wordpress-plugins.full ul li {
		width: 100%;
		max-width: 255px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

/**
 * Media query max-width: 767px
 */
@media ( max-width: 767px ) {
	.c4wp-help-main {
		width: 100%;
	}
	.our-wordpress-plugins.side-bar {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	.c4wp-help-section.nav-tabs {
		padding-top: 30px;
	}
	.c4wp-help-main {
		padding-top: 40px;
	}
	.our-wordpress-plugins ul {
		margin-right: -15px;
		margin-left: -15px;
	}
	.our-wordpress-plugins ul li {
		width: 33.33%;
		padding: 0 15px;
		box-sizing: border-box;
	}
	.our-wordpress-plugins ul li .plugin-box {
		height: 100%;
	}
}

/**
 * Media query max-width: 580px
 */
@media ( max-width: 580px ) {
	.our-wordpress-plugins ul li {
		width: 50%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
}

/**
 * Media query max-width: 400px
 */
@media ( max-width: 400px ) {
	.our-wordpress-plugins ul li {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
}

#system-info-textarea {
    font-family: monospace;
    white-space: pre;
    overflow: auto;
    width: 100%;
    height: 400px;
    margin: 0;
}

.remove-space-below th, .remove-space-below td {
	padding-bottom: 0;
}

.remove-space-above th, .remove-space-above td {
	padding-top: 0;
}

#add-ip, #add-url {
	margin-left: 10px;
}

.regular-number input {
	max-width: 50px;
}

.upgrade-required {
	background-color: #d7e5ef;
	opacity: 0.8 !important;
}

tr.upgrade-required {
	border: 1px solid #2b597a;
	border-bottom: none;
	border-top: none;
}
tr.upgrade-required.c4wp-border-top {
	border-top: 1px solid #2b597a;
}

tr.upgrade-required > th {
	padding-left: 15px;
}
.upgrade-required * {
	opacity: 0.8;
}

.premium-title-wrapper strong {
	font-size: 16px;
}

.premium-title-wrapper p {
	font-size: 14px;
	font-weight: 400;
}

.premium-title-wrapper {
	overflow: hidden;
    position: relative;	
	height: 180px; 
}
.premium-title-wrapper th {
    width: calc( 100% - 42px ) !important;
    position: absolute;
    padding: 20px !important;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
}

.premium-title-wrapper td {
	display: none;;
}
.premium-link {
	background: #50284E;
	color: #fff !important;
	padding: 8px 12px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 15px;
	display: inline-block;
}

.premium-link:hover {
	background: #50284E;
}
.premium-link-not-btn {
    color: #50284E;
    clear: both;
    display: block;
    margin-top: 15px;
}
a[href*=c4wp-admin-upgrade]:not(.premium-link ):not(.premium-link-not-btn ) {
    color: #adff2f !important;
}

.remove-radio-br br + br {
	display: none;
}

.loggedin_hide > td {
	padding-top: 10px;
}

.c4wp-desc {
	margin-top: -17px !important;
    font-weight: normal;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.loggedin_hide td {
	padding-left: 30px !important;
}

select.lang_select {
	clear: left;
    display: block;
    margin-top: 10px;
}

@media all and (min-width: 1024px) {
	.c4wp-settings #post-body-content {
		width: calc( 100% - 300px );
		overflow: hidden;
		position: relative;
	}
	
	.c4wp-settings #postbox-container-1 {
		margin-right: 0 !important;
	}
}

.c4wp-help-main ol {
    margin-left: 10px;
    margin-bottom: 20px;
}
ul.c4wp-pro-features-ul li.dashicons-yes-alt:before {
    color: #50284E;
    position: absolute;
    left: -2px;
    top: 1px;
} 
.c4wp-pro-features-ul li {
	padding-left: 25px;
    position: relative;
    margin-bottom: 15px;
}
.h-140 {
	height: 290px;
}